.botao  {
  background-color: black;
  padding: 10px;
  border-radius: 5000px;
}

.example-spacer {
    flex: 1 1 auto;
  }

span{
    padding: 10px;
}

img{
    height: 50px;
    width: 50px;  
}

a{
    text-decoration: none;
    color: white;
}

